extends layouts/base

block title
    title SI Application

block body
    .container
        .wrapper
            .content
                .row
                    h1 Intelligent Systems Project
                .row
                    +canvas-holder
                    +inputs-holder
            footer
                | Andrzej Tracz &copy; 2016. All rights reserved.